<table>
    <tr>
        <td>
            {{client.name}} wanted to meet you <br/>
            {{company.name}}. Have fun.
        </td>
    </tr>
    <tr>
        <td>
            Love,<br/>
            Venture Juice
        </td>
    </tr>
    <tr>
        <td>
            Powered by <a href="#">Interplay</a>
        </td>
    </tr>

</table>
