{% extends "::base.html.twig" %}

{% block title %}DevsparkVentureJuiceBundle:Public:companySendMail{% endblock %}

{% block body %}
<h1>Welcome to the Public:companySendMail page</h1>
{% endblock %}
